@model FinalProject.Models.Listing

@{
    ViewBag.Title = "Listing Details";
}

<h2>Details for Listing @Model.ListingId</h2>
<hr />
<table>
    <tr>
        <td>ID</td>
        <td>@Model.ListingId</td>
    </tr>
    <tr>
        <td>Landlord</td>
        <td>@Model.LandlordId</td>
    </tr>
    <tr>
        <td>House Type</td>
        <td>@Model.HouseType</td>
    </tr>
    <tr>
        <td>Address ID</td>
        <td>@Model.AddressId</td>
    </tr>
    <tr>
        <td>Total Area</td>
        <td>@Model.TotalArea</td>
    </tr>
    <tr>
        <td>Bedroom#</td>
        <td>@Model.BedroomNo</td>
    </tr>
    <tr>
        <td>Washroom#</td>
        <td>@Model.WahroomNo</td>
    </tr>
    <tr>
        <td>Parking#</td>
        <td>@Model.ParkingNo</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>@Model.RentalPrice</td>
    </tr>
    <tr>
        <td>Listing Time</td>
        <td>@Model.ListingTime</td>
    </tr>
</table>
<hr />
@Html.ActionLink("Edit", "Details", @Model) | @Html.ActionLink("Back to List", "Index", "Listing")